#contact-container{
    width: min(1500px, 100%);
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

#contact-header{
    background-image: url(./Images/background-image.jpg);
    background-size: cover;
    width: 100%;
    position: relative;
    display: inline-block;
}

#contact-header img {
    width: 100%;
}

#contact-header h1{
    position: absolute;
    top: 49.4%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
    font-size: 2.8em;
    width: 230px;
    padding: 13% 37%;
}
#info-container-1, #info-container-2{
    display: flex;
    justify-content: space-between;
}

.info-boxes{
    display: flex;
    gap: 15px;
    align-items: center;
    min-width: 270px;
    max-width: 375px;
    margin: 20px 15px;
}

.info-boxes p{
    width: fit-content;
    font-size: 1.4em;
}

.info-boxes img{max-width: 60px;}

#photo-credit{
    background-color: rgba(0, 0, 0, 0.644);
    position: fixed;
    padding: 7px;
    font-size: 1.1em;
    left: 0;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 760px){

    #contact-header h1{
        font-size: 1.9em;
        padding: 10% 18%;
    }
    #info-container-1, #info-container-2{
        display: flex;
        flex-direction: column;
    }
    .info-boxes{
        min-width: 150px;
        max-width: 310px;
    }
    .info-boxes p{font-size: 1.2em;}
    
    .info-boxes img{max-width: 45px;}

}