#menu-container{
    display: flex;
    justify-content: center;
    gap: 17px;
    flex-flow: column;
    align-self: center;
    width: min(1500px, 100%);
}

#announcement-container{
    width: 100%;
    color: white;
    background-color: rgb(115, 69, 150);
}

#announcement, #announcement-2 {
    font-size: 35px;
    padding: 5px 80px;
    text-align: center;
}
#announcement{
    padding-top: 30px;
    font-weight: 600;
}
#announcement-2{
    padding-bottom: 30px;
}

#box-1, #box-2 {
    display: flex;
    box-sizing: content-box;
    align-items: center;
    max-height: 700px;
    overflow: hidden;
}
#text-container-1, #text-container-2 {
    display: flex;
    gap: 35px;
    width: 100%;
    font-size: 1.75em;
    justify-content: center;
    color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#box-1{
    background-color: rgb(115, 69, 150);
}

#box-2{
    background-color: #33261b;
}
p{width: 80%;}

#bubble-tea{
    width: min(50%, 100%);
}

#croissant-img{
    width: min(50%, 100%);
}

#footer-container{
    display: flex;
    justify-content: center;
    background-color: #33261b;
}

#footer {
    text-align: center;
    padding: 28px;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.7em;
    gap: 7px;
}

a {color: rgb(255, 255, 255);}

a:hover, a:focus{text-decoration-color: rgb(0, 0, 0); color: rgb(0, 0, 0);}